*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'Unbounded', cursive;
}

body::before{
    content: "";
    background: url(../assets/bg.png)no-repeat center center/ cover;
    position: absolute;
    top: 90px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.logo {
    background-color: black;
    height: 90px;
    width: 100%;
}

.logo img{
    position: absolute;
    top: 10px;
    left: 10px;
}

nav ul{
    display: flex;
    position: absolute;
    top: 0;
    left: 20%;

}

nav ul li{
    list-style: none;
    padding: 10px;
    font-weight: 700;
    margin-top: 18px;
}

.btn button{
    position: absolute;
    top: 18px;
    left: 1170px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 45, 196);
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Unbounded', cursive;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    margin-top: 100px;
}

.main-content h1{
    font-size: 70px;
    text-align: center;
}

.main-content p{
    font-size: 20px;
    font-weight: 700;
}

.main-content button{
    font-size: 20px;
    margin-top: 35px;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 45, 196);
    color: white;
    cursor: pointer;
    font-family: 'Unbounded', cursive;
}

.vertical {
    border-left: 1px solid white;
    height: 60px;
    position:absolute;
    left: 215px;
    top: 10px;
}